node_modules
dist/background.jpg
dist/index.html
dist/Logo.png
dist/logo2.png
dist/logoSmall.png
dist/manifest.json
dist/service-worker.js
dist/vite.svg
dist/assets/index-D5Q1tjUj.css
dist/assets/index-DGaf7_8W.js
dist/assets/logo-BTb7uTPl.png
dist/assets/logo2-DeuxINIx.png
